@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Cinzel:wght@400;600&display=swap');
@import "tailwindcss";


:root {
  --font-title: 'Playfair Display', serif;
  --font-subtitle: 'Cinzel', serif;
  --background: #f3f4f6; 
  --foreground: #111827; 
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

  .title {
    font-family: var(--font-title);
  }
  
  .subtitle {
    font-family: var(--font-subtitle);
  }




